.social {
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  display: flex;
}

.social li {
  list-style-type: none;
  width: 48px;
  height: 48px;
  padding: 0;
}

.social li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.social li:hover {
  background-color: #454747;
  border-radius: 50%;
}

.social li i {
  font-size: 24px;
}
