.icon-ext-link {
  padding-left: 5px;
  font-size: 14px;
}

.link {
  color: #FFF;
}

.link:active, .link:visited {
  color: inherit;
}

.link:hover {
  color: #ffd900;
  text-decoration: underline;
}

