.movie-card .title-link {
  text-decoration: none;
}

.movie-title:hover {
  color: yellow !important;
}

.movie-card i.rating {
  color: yellow;
  padding-right: 6px;
}

.movie-card img:hover {
opacity: 0.5;
}