.container {
  column-gap: 1rem;
}

.filmography {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.75rem;
}

img:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.title {
  color: white;
}

.title:hover {
color: yellow;
}